
body, html {
  margin:0px;
  padding:0px;
  height: 100%;
}

.flex_cont{

  background: rgb(235, 247, 234);
  min-width: 200px;
  min-height: 200px;
  border-radius: 5px;

  /*line-height: 250px;*/
  font-weight: bold;
  font-size: 1em;
  text-align: center;

  margin: 2px 2px;

}

.flex_cont img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.flex_bas_right {flex: 1 0 20em;
  /*flex-grow:1;
  flex-shrink: 1;
  flex-basis: 20em;*/
}

.flex_bas_left {flex: 1 0 10em;}
