<!DOCTYPE Html PUBLIC "-//W3C//DTD Html 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Заголовок</title>
  <link href="{{ csf }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="maket">
    <div id="header">
      <div class="myhead">
        <h2>Языковая школа</h2>
      </div>
    </div>
    <div id="navbar" class="mynavbar">
      <a id="home" class='sp' href="#home">Обучение</a>
      <a id="news" class='sp' href="#news">Цены</a>
      <a id="contact" class='sp' href="#contact">Контакты</a>
      <a id="teach" class='sp' href="#teach">Тренеры</a>
    </div>
    <div id="screen_greeting">
      <div class="screen_flex">
        <img src="resources/img/kids-around-the-world-cliparts-3.png" alt="Greeting">
      </div>
    </div>
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pictures</a></li>
      <li><a href="#">Summer 15</a></li>
      <li>Italy</li>
    </ul>
    <div id="container-outer">
      <div id="container-inner">
        <div id="left">
          <div id="left_content">
            <div class="flex_left flex_bas_left">
              <h2>Новости</h2>
              <span>
                Взгляните на карту Юга США. Штаты Алабама, Джорджия, Южная Каролина.
                Внизу – Флорида. «О Флорида!», то есть цветущая, утопающая в цветах,
                – вскричал, по преданию, Колумб; слева – Новый Орлеан,
                куда, если верить литературе, сослали Манон Леско;
                справа, на побережье Саванна, где умер пират Флинт –
                «умер в Саванне от рома» – и кричал «пиастры! пиастры!» его жуткий попугай.
                Вот отсюда и пришла Скарлетт О'Хара, героиня этой книги,
                покорительница Америки.</span></div>
                <div class="flex_left flex_bas_left">L2</div>
                <div class="flex_left flex_bas_left">L3</div>
              </div>
            </div>
            <div id="content">
              <div class="flex_cont flex_bas_right overlay-parent">
                <img src="resources/img/IMG_20171111_110623.jpg" alt="Notebook">
                <div class="text_content">
                  <h2>Heading</h2>
                  <p>Lorem ipsum..</p>
                </div>
              </div>
              <div class="flex_cont flex_bas_right">R2</div>
              <div class="flex_cont flex_bas_right">R3</div>
              <div class="flex_cont flex_bas_right">R4</div>
              <div class="flex_cont flex_bas_right">R5</div>
              <div class="flex_cont flex_bas_right">R6</div>
              <div class="flex_cont flex_bas_right">R7</div>
              <div class="flex_cont flex_bas_right">R8</div>
              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">Контакты</div>
      <script src="resources/js/stick.js"></script>
    </body>
    </html>
